
      <div>
                      <div>
                      <div class="col-md-10">
                            <div class="row" style="margin-left:10%;margin-top:5%">
                                    <div class="col-md-12">
                                            <h2 style="font-size:24px">Welcome,</h2>
                                        </div>
                                        </div>
                            
                      <div class="row" style="margin-left:10%;margin-top:5%">
                        <div class="col-md-6"><button class="btn btn-primary" style="width:80%" (click)="facebookButton.click()">
                                <a href="https://localhost:3000/auth/facebook" class="btn  btn-facebook" data-toggle="tooltip" title=""
                                data-original-title="Login with Facebook" #facebookButton>
                                <span style="color:white;font-size:20px;font-style:Helvetica Neue">Sign in with Facebook</span>
                            </a>
                          </button></div>
                          <div class="col-md-6">
                              <button class="btn btn-danger" style="width:80%" (click)="googleButton.click()">
                                  <a href="https://localhost:3000/auth/google" class="btn btn-googleplus"
                                      data-toggle="tooltip" title="" data-original-title="Login with Google" #googleButton>
                                      <span style="color:white;font-size:20px;font-style:Helvetica Neue">Sign in with Google</span>
                                  </a>
                                  </button>
                                  </div>
                          </div>
                          </div>
                          </div>
      </div>
