
      <div>
                      <div>
                      <div class="col-md-10">
                            <div class="row" style="margin-left:10%;margin-top:5%">
                                    <div class="col-md-12">
                                            <label style="font-style:Helvetica Neue;font-size: 22px;color:#4A4646"><b>Welcome,</b></label>
                                        </div>
                                        </div>
                            
                      <div class="row" style="margin-left:10%;margin-top:5%">
                        <div class="col-md-6"><button class="btn" style="width:80%;background-color: #395794;" (click)="facebookButton.click()">
                                <a href="https://localhost:3000/auth/facebook" class="btn  btn-facebook" data-toggle="tooltip" title=""
                                data-original-title="Login with Facebook" #facebookButton>
                                <span style="color:white;font-size:20px;font-style:Helvetica Neue"><b>Sign in with Facebook</b></span>
                            </a>
                          </button></div>
                          <div class="col-md-6">
                              <button class="btn" style="width:80%;background-color: #D74937;" (click)="googleButton.click()">
                                  <a href="https://localhost:3000/auth/google" class="btn btn-googleplus"
                                      data-toggle="tooltip" title="" data-original-title="Login with Google" #googleButton>
                                      <span style="color:white;font-size:20px;font-style:Helvetica Neue"><b>Sign in with Google</b></span>
                                  </a>
                                  </button>
                                  </div>
                          </div>
                          </div>
                          </div>
      </div>
