<div class="container"><br>
  <form [formGroup]="form" (ngSubmit)="formSubmit(form.value)">
   <!-- <div class="form-group row col-md-12"> -->
      <!-- <div class="form-group row col-md-8"> -->
        <div class="form-group row col-md-12">
          <div class="col-md-4">
            <h3 class="text-left">Welcome,</h3><br>
            <h3 class="text-left">{{fullName}} </h3>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>

        </div>
        <div class="form-group row col-md-12">
          <div class="col-md-4">
            <!-- <div style="width: 824px; height: 464px;">
              <img src="img_avatar.png" alt="Avatar" class="image">
            </div> -->
            
            <!-- <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture> -->
            <h5 class="text-left">Kindly help us with the following information</h5><br>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
        <div class="form-group row col-md-12">
          <div class="col-md-4">
            <label for="fullName" class="form-control-label">FullName:</label>
            <input type="text" name="fullName" formControlName="fullName" class="form-control">
            <div class="alert alert-danger"
              *ngIf="form.get('fullName').hasError('required') && form.get('fullName').touched">FullName is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="email" class="form-control-label">Email Id:</label>
            <input type="text" name="email" formControlName="email" class="form-control">
            <div class="alert alert-danger" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              Email Id is required</div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
          <div class="form-group row col-md-12">
            <div class="col-md-4">
              <label for="mobileNo" class="form-control-label">Mobile Number:</label>
              <input type="text" name="mobileNo" formControlName="mobileNo" class="form-control">
              <div class="alert alert-danger"
                *ngIf="form.get('mobileNo').hasError('required') && form.get('mobileNo').touched">Mobile Number is
                required
              </div>
            </div>
            <div class="col-md-4">
              <label for="nationality">Nationality:</label>
            <div>
              <select id="nationality" formControlName="nationality" class="form-control">
                <option value="India">India</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>
             
              <div class="alert alert-danger"
                *ngIf="form.get('nationality').hasError('required') && form.get('nationality').touched">
                Nationality is required</div>
            </div>
            <div class="col-md-4">

            </div>

          
        </div>
        <div class="form-group row col-md-12">
          
        <div class="form-group row col-md-6">
          <label for="myfile">Select a file:</label>
          <input type="file"  (change)="onSelectFile($event)" #fileInput><br><br>
        </div>
        <div class="form-group row col-md-6"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-5">
          </div>
          <!-- <div class="col-md-4">
            <button class="btn btn-danger" type="button" routerLink="">Cancel</button> &nbsp;
            <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button>
          </div> -->
        </div>
      <!-- </div> -->
      <div class="form-group row col-md-4">
      </div>
   <!-- </div> -->

  </form>

</div>